body {
  background-color: #4f4f4f;
  color: #9e9e9e;
  margin: 0;
  width: 100%;
  font-family: "PT Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

header {
  background-color: #3c3c3c;
  font-size: 1.25rem;
}

a {
  color: #9e9e9e;
  text-decoration: none;
}

nav {
  padding: 1rem;
}

nav a:hover {
  color: #ffffff;
}

a:visited {
  color: #9e9e9e;
}

nav a::before {
  content: "\00A0/\00A0";
}

nav a:first-child::before {
  content: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container .page {
  justify-content: center;
}

section {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: .75rem;
  justify-content: center;
}

/* article {
  height: 160px;
  width: 160px;
} */

.folder {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3c3c3c;
  font-size: 1.25rem;
  position: relative;
}

.folder-title {
  position: absolute;
}